.result{
    max-width:1200px;
    min-width:900px;
    padding-top:30px;
}
    .result-tab{
        font-size:16px;
        border-bottom: 1px solid rgba(204,204,204,0.5);
        padding:8px 0px;
        a{
            padding:8px 40px 8px 0px;
            display: inline-block;
        }
        a:hover{
            color:rgb(33, 201, 117);
        }
    }


    .song-box{
        margin-top:50px;
    }
        .song-opera-box{
            button{
                margin:0 10px;
                width:120px;
                line-height:26px;
                span{
                    margin-right:5px;
                    color:#aaa;
                    font-weight: bolder;
                }
            }
        }
        .song-list-box{
            margin-top:30px;
        }
        .song-list-tab{
            height:50px;
            line-height:50px;
            padding-left:20px;
            background-color:#fbfbfb;
            span{
                float: left;
                color:#999;
            }
            span:nth-child(1){
                width:40%;
            }
            span:nth-child(2),span:nth-child(3){
                width:25%;
                padding-left:20px;
            }
            span:nth-child(4){
                width:50px;
                margin-left:20px;
            }
        }
        
        .song-item{
            height:50px;
            line-height:50px;
            padding-left:20px;
            &:nth-of-type(even){
                background-color:#fbfbfb;
            }
            &:nth-of-type(odd){
                background-color: #fff;
            }
            .song-opera-item{
                display: none;
            }
            &:hover {
                .song-name>a{
                    max-width:45%;
                }
                    .song-opera-item{
                    display: inline-block;
                    float:right;
                    height:50px;
                    line-height: 50px;
                    button{
                        margin:8px 5px;
                        border-radius:100% !important;
                        color:#999;
                        &:hover{
                            border-color: rgb(33, 201, 117);
                            color:rgb(33, 201, 117);
                            background-color:white;
                        }
                    }
                }
            }
            a{
                overflow:hidden;
                float:left;
                height:50px;
            }
            a:hover{
                color:rgb(33, 201, 117);
            }
            .song-name{
                float:left;
                width:40%;
                height:100%;
                display:inline-block;
                a{
                    float:left;
                }
               
            }
            .song-single,.song-album,{
                padding-left:20px;
                width:25%;
                overflow:hidden;
            }
            .song-time{
                width:50px;
                margin-left:20px;
                overflow:hidden;
                color:#999;
            }
        }
    
/*翻页*/
 .page{
     margin:50px auto;
     position: relative;
        ul{
            margin:0 auto;
            transform:translate(-50%,-50%);
            top:50%;
            left:50%;
            position: absolute;
            >li>span,>li>a{
                border:0px;
                color:#bbb;
                margin:0 5px;
                &:link,&:visited{
                    color:#bbb;
                    background-color:white;
                }
                &:hover,&.active{
                    color:white;
                    background-color:rgb(33, 201, 117);
                }
                
            }
        }
 }